@model TrainingSystem.Domain.Section
@{
    ViewData["Title"] = @ViewBag.CreateOrEdit+"Section";
}
<h2>@ViewBag.CreateOrEdit Section</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateEdit">
            <input value"@Model.section.ID" asp-for="ID" type="hidden"></input>
            <div class="form-group">
                <label class="control-label">SectionField</label>
                <select asp-for="SectionLookupID" class="form-control" asp-items="ViewBag.SectionLookupID"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Trainer</label>
                <select asp-for="TrainerID" class="form-control" asp-items="ViewBag.TrainerID"></select>
                <span asp-validation-for="TrainerID" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control"/>
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back To Sections</a>
</div>

