@model TrainingSystem.Domain.Trainer

@{
    ViewData["Title"] = "Create";
}

<h1>Add new Trainer</h1>
<hr />
@if (ViewBag.ErrorMessag == null)
{
    <p style="color:red; font-size:20px">@ViewBag.ErrorMessage</p>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">First Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label class="control-label">Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">SectionField</label>
                <select asp-for="SectionLookupID" class="form-control" asp-items="ViewBag.SectionLookupID">
                    <option value="">-- Section Field -- </option>
                </select>
                <span asp-validation-for="SectionLookupID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactNumber" class="control-label"></label>
                <input type="text" asp-for="ContactNumber" class="form-control" />
                <span asp-validation-for="ContactNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <label>
                <input asp-for="Status" type="checkbox" id="myInput" onchange="getInputValue();" checked>
                Active
            </label>

            <label>
                <input onchange="getInputValue1();" id="checkbox1" type="checkbox">
                InActive
            </label>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
    <script>
        const checkbox = document.getElementById('myInput');

        checkbox.addEventListener('change', (event) => {
            if (event.currentTarget.checked) {
                document.getElementById("checkbox1").checked = false;
            } else {
                document.getElementById("checkbox1").checked = true;
            }
        });
        const checkbox1 = document.getElementById('checkbox1');

        checkbox1.addEventListener('change', (event) => {
            if (event.currentTarget.checked) {
                document.getElementById("myInput").checked = false;
            } else {
                document.getElementById("myInput").checked = true;
            }
        });
    </script>