@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <nav class="navbar navbar-inverse navbar-fixed-top navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand">TrainingSystem</div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Trainers" asp-action="Index">Trainers</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Trainee" asp-action="Index">Trainees</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Section" asp-action="Index">Sections</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Programs" asp-action="Index">Programs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ReportingPage">Reporting</a>
                    </li>
                    @*<li>
                        <div class="nav-link text-dark">Hello @UserManager.GetUserName(User)!</div>
                    </li>

                    <li class="nav-item">
                        <form class="form-inline" asp-area="" asp-controller="Home" asp-action="Logout" method="post" id="logoutForm">
                            <button type="submit" class="btn btn-primary btn-sm nav-link btn btn-link text-white" style="">Logout</button>
                        </form>
                    </li>*@
                </ul>
            </div>
            <div class="navbar-right navbar-collapse collapse">
                <ul class="nav navbar-nav ">
                    <li>
                        <div class="nav-link text-dark">Hello @UserManager.GetUserName(User)!</div>
                    </li>

                    <li class="nav-item">
                        <form class="form-inline" asp-area="" asp-controller="Home" asp-action="Logout" method="post" id="logoutForm">
                            <button type="submit" class="btn btn-primary btn-sm nav-link btn btn-link text-white" style="">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
}
