@model TrainingSystem.Application.DTOs.Users.ForgotPasswordDTo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Forgot Password";
}

<link href="~/css/LoginStyleSheet.css" rel="stylesheet"/>
    <div class="register-photo">
        <div class="form-container">
           <div class="image-holder"></div>
               <form method="post" id="sendcode">
                   <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                   <h2 class="text-center"><strong>Forgot Password</strong></h2>
                   <div class="form-group">
                       <input asp-for="UserName" class="form-control" name="Username" placeholder="Username">
                       <span asp-validation-for="UserName" class="text-danger"></span>
                       <button class="btn btn-success btn-block btn-info" type="submit">Send code</button>
                   </div>
               </form>
               <form method="post" id="ConfirmCode">
                   <div class="form-group">
                       <input class="form-control" type="text" name="ConfirmCode" placeholder="Confirm Code" id="code" disabled>
                       <button class="btn btn-success btn-block btn-info" type="submit" id="confirmCode" disabled>Confirm Code</button>
                   </div>
               </form>
        </div>
    </div>




@section Scripts{
    <script>
        $(document).ready(function () {
            $('#sendcode').on('submit', function (e) {
                e.preventDefault();
                var requestData = { UserName: $("#UserName").val() };
                
                $.ajax({
                    type: 'POST',
                    data: requestData,
                    url: 'https://saib-web/TS/Home/ForgotPassword',
                    success: function (data) {
                        
                        if (data.message=="success") {
                            alert("Check your email");
                            $('#code').prop('disabled', false);
                            $('#confirmCode').prop('disabled', false);

                        } else if (data.message == "TrainerSuccess") {
                            alert("Trainer Check your email");
                            $('#code').prop('disabled', false);
                            $('#confirmCode').prop('disabled', false);
                        }
                        else {
                            alert(data.message);
                        }
                    },
                    error: function (xhr, err) {
                        alert(xhr.responsetext);
                    }
                });
            });
            $('#ConfirmCode').on('submit', function (e) {
                e.preventDefault();
                var UserName = $("#UserName").val(); 
                var code = $("#code").val();
                $.ajax({
                    type: 'POST',
                    url: 'https://saib-web/TS/Home/ConfirmationCode?username=' + UserName + '&code=' + code,
                    success: function (data) {
                        if (data.message=="Success") {
                            alert(data.message);
                            window.location.href = 'ResetPassword?token=' + encodeURIComponent(data.token) + '&UserName=' + UserName;
                        }
                        else if (data.message == "TrainerSuccess") {
                            alert(data.message);
                            window.location.href = 'ResetPasswordTrainer?userName=' + UserName;
                        } else {
                            alert(data.message);

                        }
                    },
                    error: function (xhr, err) {
                        alert(xhr.responsetext);
                    }
                });
            });
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




