<link href="~/css/LoginStyleSheet.css" rel="stylesheet" />

<div class="register-photo">
    <div class="form-container">
        <div class="image-holder"></div>
        <form method="post">
            <h2><strong>Forgot Password</strong></h2>
            <div class="form-group">
                <input class="form-control" type="Username" name="Username" placeholder="Username">
                <button class="btn btn-success btn-block btn-info" type="submit">Send code</button>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="ConfirmCode" placeholder="Confirm Code">
                <button class="btn btn-success btn-block btn-info" type="submit">Confirm Code</button>
            </div>
        </form>
    </div>
</div>

