@model TrainingSystem.Application.DTOs.Users.LoginDTO

@{
    ViewData["Title"] = "Login";
}

<link href="~/css/LoginStyleSheet.css" rel="stylesheet" />
<div class="register-photo">
    <div class="form-container">
        <div class="image-holder"></div>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h2 class="text-center"><strong>Log In</strong></h2>
            <div class="form-group"><input class="form-control" asp-for="UserName" name="Username" placeholder="Username"></div>
            <span asp-validation-for="UserName" class="text-danger"></span>
            <div class="form-group"><input class="form-control" asp-for="Password" type="password" name="password" placeholder="Password"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                </label>
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
            <div class="form-group">
                <div class="d-flex justify-content-between">
                    <div> <a href="~/Home/ForgotPassword" class="text-info">Forgot Password?</a> </div>
                </div>
            </div>
            <div class="form-group"><button class="btn btn-success btn-block btn-info" type="submit">Login</button></div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
