@model TrainingSystem.Application.DTOs.Users.ResetPasswordDTO

@{
    ViewData["Title"] = "Reset Password";
}
<link href="~/css/LoginStyleSheet.css" rel="stylesheet" />
<div class="register-photo">
    <div class="form-container">
        <div class="image-holder"></div>
        <input type="hidden" />
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h2 class="text-center"><strong>Reset Password</strong></h2>
            <input asp-for="UserName" type="hidden" value="@ViewBag.userName" />
            <input asp-for="code" type="hidden" value="@ViewBag.token" />
            <div class="form-group"><input asp-for="Password" class="form-control" type="password" placeholder="New Password"></div>
            <span asp-validation-for="Password" class="text-danger"></span>
            <div class="form-group"><input asp-for="ConfirmPassword" class="form-control" type="password" placeholder="Confirm New Password"></div>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            <div class="form-group">
            </div>
            <div class="form-group"><button class="btn btn-success btn-block btn-info" type="submit">Reset</button></div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
